[motor_constants shengyang-42BYGH30250-25D]
# Coil resistance, Ohms
resistance: 0.40
# Coil inductance, Henries
inductance: 0.00060
# Holding torque, Nm
holding_torque: 0.56
# Nominal rated current, Amps
max_current: 4.00
# Steps per revolution (1.8deg motors use 200, 0.9deg motors use 400)
steps_per_revolution: 200